<header class="">
    <nav class="">
        <ul class="">
            <li class="">
                <a class="" href="/">Shop</a>
            </li>
            <li class="">
                <a class="" href="/admin/add-product">Add Product</a>
            </li>
        </ul>
    </nav>
</header>