<header class="">
    <nav class="">
        <ul class="">
            <li class="">
                <a class="" href="/">Shop</a>
            </li>
            <li class="">
                <a class="" href="/products">Products</a>
            </li>
            <li class="">
                <a class="" href="/cart">Cart</a>
            </li>
            <li class="">
                <a class="" href="/admin/add-product">Add Products</a>
            </li>
            <li class="">
                <a class="" href="/admin/products">Admin Products</a>
            </li>
        </ul>
    </nav>
</header>